/* Piccalilli reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}


/* Styling */

@font-face {
    font-family: 'zapfino';
    src: url('./Fonts/zapfino-cufonfonts-webfont/Zapfino.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'caviarDreams';
    src: url('./Fonts/Caviar-Dreams/CaviarDreams.ttf') format('truetype'),
        url('./Fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf') format('truetype'),
        url('./Fonts/Caviar-Dreams/CaviarDreams_BoldItalic.ttf') format('truetype'),
        url('./Fonts/Caviar-Dreams/CaviarDreams_Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #FEF7ED;
    margin: 0;
    font-family: caviarDreams, Arial, Helvetica, sans-serif;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 1fr;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-family: zapfino, cursive;
    text-wrap: nowrap;
    height: 100%;
    padding-bottom: 35px;
    padding-left: 1rem;
}

header {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 0.3rem;
    border-bottom: solid 1px black;
}

nav {
    display: flex;
    gap: 0.5rem;
    padding-right: 6rem;
}

nav>button {
    margin-bottom: -1px;
    appearance: none;
    background-color: transparent;
    width: 12.5rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 20px 20px 0 0;
    border: 1px solid black;
}

.selected {
    border-bottom: solid 1px #FEF7ED;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
}

#content {
    width: 80%;
    max-width: 80ch; /* This is the mostly ideal width for readability */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuBuilt {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.menuItem {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.listItem {
    display: flex;
    gap: 0.4rem;
    font-size: 1.1rem;
}

.itemName {
    font-weight: bold;
}

.itemDesc {
    color: #727272;
}